@charset "UTF-8";
body {
    background-color: rgb(45, 98, 45);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
}
h1#principal{
    text-align: center;
    background-color: black;
    border-radius: 20px;
}
h2{
    color: gray;
}
.basico{
    color: black;
}
.intermediario{
    color: blueviolet;
}
.avancado{
    color: rgb(245, 4, 4);
}
.destaque{
    background-color: rgb(245, 4, 4);
    border-radius: 20px;
    padding:7px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}